## Outline

- This code is the verify the result in Tableau

In [7]:
import pandas as pd
import datetime as dt

data = pd.read_excel("Orders-and-Returns-Sample-Superstore-Data-Workbook.xlsx", sheet_name = "Orders")

In [9]:
data['Order_Month'] = data['Order Date'].dt.month

In [13]:
data.groupby(["State or Province","Order_Month"])[["Profit", "Quantity ordered new"]].agg("sum")

                                     Profit  Quantity ordered new
State or Province Order_Month
Alabama           1             -590.700200                    47
                  2            -1377.014000                    47
                  3              255.490000                    63
                  4             -919.918000                    18
                  5              214.085600                    93
Arizona           1             1162.514320                    54
                  2             -303.467200                    13
                  3             1144.946400                    40
                  4             -235.808588                    29
                  5             1555.569800                   108
                  6              585.999100                    41
Arkansas          1             -314.972000                    22
                  2             -133.986200                    27
                  3             -373.873600                    68
                  4              181.984600                    67
                  5             -407.778000                    52
                  6             -136.122000                     6
California        1             -522.754364                   500
                  2             8807.237348                   729
                  3              725.703600                   350
                  4             8870.598108                   523
                  5             7751.301000                   942
                  6            11789.874500                   667
Colorado          1            -5371.324400                    47
                  2             2831.455300                    52
                  3             2560.990400                   100
                  4              326.773060                    65
                  5             6885.953100                    94
                  6             -268.384800                    39
Connecticut       1             -186.662000                    10
...                                     ...                   ...
Vermont           3               -0.740000                    12
                  4               27.732760                    27
                  5              380.468000                    20
                  6             2581.450000                    18
Virginia          1             -878.608800                    68
                  2               21.326400                    34
                  3              -69.571900                    78
                  4             1399.288000                    89
                  5            -1026.344000                    44
                  6            -1194.641400                   184
Washington        1              631.124420                   123
                  2             2717.427700                   214
                  3            -8124.884800                   292
                  4             1530.973760                   240
                  5             4131.621920                    79
                  6             2969.348750                    35
West Virginia     1             -676.547875                    12
                  3              -40.760000                    10
                  4              329.618400                    23
                  5             5119.568000                    65
                  6               39.585300                     4
Wisconsin         1              998.583240                    67
                  2             2758.335800                    74
                  3              572.225300                    50
                  4            -2081.758120                    86
                  5             1057.906340                    86
                  6              681.117500                    75
Wyoming           2              349.485000                     5
                  3              385.370000                    22
                  4                0.370000                     2

[271 rows x 2 columns]

In [14]:
data.head(2)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Order_Month
0,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2015-01-07,2015-01-08,4.5600,4,13.01,88522,1
1,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,...,California,San Gabriel,91776,2015-06-13,2015-06-15,4390.3665,12,6362.85,90193,6

In [16]:
data.groupby("Product Sub-Category")[["Unit Price", "Profit"]].agg("mean")

                                Unit Price       Profit
Product Sub-Category
Appliances                       76.167700   125.948206
Binders and Binder Accessories   78.826500   296.481947
Bookcases                       215.801395   -21.638102
Chairs & Chairmats              212.615326   529.302572
Computer Peripherals             49.320575     9.758873
Copiers and Fax                 847.212222  1332.789310
Envelopes                        22.768000   -21.716591
Labels                            5.370704    98.988162
Office Furnishings               35.181297   101.211455
Office Machines                 758.493474    92.888322
Paper                            15.215528    27.356743
Pens & Art Supplies               9.489752    -1.600179
Rubber Bands                      3.187647   -45.436061
Scissors, Rulers and Trimmers    53.893889   -35.863775
Storage & Organization           86.468308    54.802217
Tables                          225.417000   -90.500892
Telephones and Communication    100.505464   210.260383

In [20]:
data[data["State or Province"]=="Montana"].groupby("Customer Segment").size()

Customer Segment
Home Office       2
Small Business    5
dtype: int64